{
  "host": "api.v2.rainyun.com",
  "info": {
    "contact": {},
    "description": "实现通过api管理云产品,对接代理等功能.",
    "title": "雨云API文档",
    "version": "2.4"
  },
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "ApiKey": {
      "description": "雨云 API 密钥：登录后于「用户中心 → API密钥」创建，请求时携带 X-Api-Key 请求头即可替代登录态访问接口。",
      "in": "header",
      "name": "X-Api-Key",
      "type": "apiKey"
    }
  },
  "swagger": "2.0",
  "tags": [
    {
      "name": "rbm"
    }
  ],
  "paths": {
    "/product/rbm": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "查询参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rbm.ListRBMService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "列出RBM实例",
        "tags": [
          "rbm"
        ]
      }
    },
    "/product/rbm/": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "创建参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rbm.CreateService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "创建RBM实例",
        "tags": [
          "rbm"
        ]
      }
    },
    "/product/rbm/price": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [],
        "summary": "价格计算",
        "tags": [
          "rbm"
        ]
      }
    },
    "/product/rbm/usage": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "获取使用情况列表",
        "tags": [
          "rbm"
        ]
      }
    },
    "/product/rbm/{id}/bios-flash": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "id",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "刷写参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rbm.BIOSFlashService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "裸金属刷bios",
        "tags": [
          "rbm"
        ]
      }
    },
    "/product/rbm/{id}/changeos": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "RBM实例ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "更换系统参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rbm.ChangeOSService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "RBM实例更换系统",
        "tags": [
          "rbm"
        ]
      }
    },
    "/product/rbm/{id}/commission": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "RBM实例ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "RBM清点配置",
        "tags": [
          "rbm"
        ]
      }
    },
    "/product/rbm/{id}/eip/": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "id",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "创建参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rbm.AttachEIPService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "创建并绑定弹性IP到RBM",
        "tags": [
          "rbm"
        ]
      }
    },
    "/product/rbm/{id}/eip/change": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "id",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "创建参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rbm.ChangeEIPService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "更换IP",
        "tags": [
          "rbm"
        ]
      }
    },
    "/product/rbm/{id}/eip/description": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "id",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "创建参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rbm.DescribeEIPService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "设置IP描述",
        "tags": [
          "rbm"
        ]
      }
    },
    "/product/rbm/{id}/eip/discard": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "id",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "创建参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rbm.AttachEIPService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "放弃IP",
        "tags": [
          "rbm"
        ]
      }
    },
    "/product/rbm/{id}/free": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "id",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "释放",
        "tags": [
          "rbm"
        ]
      }
    },
    "/product/rbm/{id}/kvm-proxy": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "RBM实例ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "RBM实例启动KVM代理",
        "tags": [
          "rbm"
        ]
      }
    },
    "/product/rbm/{id}/kvm-reboot": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "RBM实例ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "RBM重新启动KVM",
        "tags": [
          "rbm"
        ]
      }
    },
    "/product/rbm/{id}/monitor": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "end_date",
            "required": true,
            "type": "integer"
          },
          {
            "in": "query",
            "name": "start_date",
            "required": true,
            "type": "integer"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "获取监控数据",
        "tags": [
          "rbm"
        ]
      }
    },
    "/product/rbm/{id}/poweroff": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "RBM实例ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "RBM实例关机",
        "tags": [
          "rbm"
        ]
      }
    },
    "/product/rbm/{id}/poweron": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "RBM实例ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "RBM实例开机",
        "tags": [
          "rbm"
        ]
      }
    },
    "/product/rbm/{id}/rescue": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "RBM实例ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "进出救援模式",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rbm.RescueService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "RBM救援模式切换",
        "tags": [
          "rbm"
        ]
      }
    },
    "/product/rbm/{id}/reset-password": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "RBM实例ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "重置RBM实例IPMI密码",
        "tags": [
          "rbm"
        ]
      }
    },
    "/product/rbm/{id}/traffic/auto": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "id",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "创建参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rbm.SetAutoTrafficService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "充流量",
        "tags": [
          "rbm"
        ]
      }
    },
    "/product/rbm/{id}/traffic/charge": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "id",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "创建参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rbm.ChargeTrafficService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "充流量",
        "tags": [
          "rbm"
        ]
      }
    },
    "/product/rbm/{id}/traffic/limit": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "id",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "创建参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rbm.ChargeTrafficService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "限流",
        "tags": [
          "rbm"
        ]
      }
    },
    "/product/rbm/{id}/traffic/switch": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "id",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "创建参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rbm.SwitchTrafficService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "切换流量套餐",
        "tags": [
          "rbm"
        ]
      }
    }
  },
  "definitions": {
    "rbm.AttachEIPService": {
      "properties": {
        "with_flags": {
          "description": "IP特征(可选)",
          "type": "string"
        },
        "with_ip_num": {
          "description": "数量",
          "minimum": 1,
          "type": "integer"
        },
        "with_ip_type": {
          "description": "IPv4/IPv6",
          "type": "string"
        }
      },
      "required": [
        "with_ip_num"
      ],
      "type": "object"
    },
    "rbm.BIOSFlashService": {
      "properties": {
        "profile": {
          "description": "BIOS配置文件名称",
          "type": "string"
        }
      },
      "required": [
        "profile"
      ],
      "type": "object"
    },
    "rbm.ChangeEIPService": {
      "properties": {
        "disable_old_ip_reason": {
          "type": "string"
        },
        "ip": {
          "type": "string"
        },
        "to_ip": {
          "type": "string"
        }
      },
      "required": [
        "ip"
      ],
      "type": "object"
    },
    "rbm.ChangeOSService": {
      "properties": {
        "os_id": {
          "type": "integer"
        }
      },
      "required": [
        "os_id"
      ],
      "type": "object"
    },
    "rbm.ChargeTrafficService": {
      "properties": {
        "traffic_in_gb": {
          "type": "integer"
        }
      },
      "required": [
        "traffic_in_gb"
      ],
      "type": "object"
    },
    "rbm.CreateService": {
      "properties": {
        "duration": {
          "enum": [
            1,
            3,
            6,
            12
          ],
          "type": "integer"
        },
        "ipmi_address": {
          "description": "指定机器开启(以ipmi标识)",
          "type": "string"
        },
        "key_pair_ids": {
          "description": "创建时绑定的 Key Pair ID 列表",
          "items": {
            "type": "integer"
          },
          "type": "array"
        },
        "node_uuid": {
          "description": "指定节点(管理员可用)(暂时无用)",
          "type": "string"
        },
        "os_id": {
          "type": "integer"
        },
        "plan_id": {
          "type": "integer"
        },
        "rhs_code": {
          "description": "托管码",
          "type": "string"
        },
        "rhs_deploy": {
          "description": "托管部署(重装系统)",
          "type": "boolean"
        },
        "try": {
          "type": "boolean"
        },
        "with_coupon_id": {
          "type": "integer"
        },
        "with_eip_flags": {
          "type": "string"
        },
        "with_eip_num": {
          "minimum": 1,
          "type": "integer"
        }
      },
      "required": [
        "duration",
        "os_id"
      ],
      "type": "object"
    },
    "rbm.DescribeEIPService": {
      "properties": {
        "description": {
          "maxLength": 100,
          "type": "string"
        },
        "ip": {
          "type": "string"
        }
      },
      "required": [
        "ip"
      ],
      "type": "object"
    },
    "rbm.ListRBMService": {
      "properties": {
        "options": {
          "type": "string"
        }
      },
      "required": [
        "options"
      ],
      "type": "object"
    },
    "rbm.RescueService": {
      "properties": {
        "action": {
          "description": "切换救援模式，进入或退出",
          "enum": [
            "enter",
            "exit"
          ],
          "type": "string"
        }
      },
      "required": [
        "action"
      ],
      "type": "object"
    },
    "rbm.SetAutoTrafficService": {
      "properties": {
        "auto_charge_gb": {
          "type": "integer"
        }
      },
      "type": "object"
    },
    "rbm.SwitchTrafficService": {
      "type": "object"
    }
  }
}