{
  "host": "api.v2.rainyun.com",
  "info": {
    "contact": {},
    "description": "实现通过api管理云产品,对接代理等功能.",
    "title": "雨云API文档",
    "version": "2.4"
  },
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "ApiKey": {
      "description": "雨云 API 密钥：登录后于「用户中心 → API密钥」创建，请求时携带 X-Api-Key 请求头即可替代登录态访问接口。",
      "in": "header",
      "name": "X-Api-Key",
      "type": "apiKey"
    }
  },
  "swagger": "2.0",
  "tags": [
    {
      "name": "rgs"
    }
  ],
  "paths": {
    "/product/rgs-mp/": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rgs_mp.ListRgsMpService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "获取列表",
        "tags": [
          "rgs"
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rgs_mp.CreateService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "创建游戏云MP",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs-mp/{id}/renew/": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rgs_mp.RenewService"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "续费游戏云MP",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rgs.ListRGSService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "获取列表",
        "tags": [
          "rgs"
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rgs.CreateService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "创建游戏云",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/change-egg": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "RGS切换egg(游戏类型)",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/discount-percent": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [],
        "summary": "获取游戏云折扣比率",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/egg": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [],
        "summary": "蛋(游戏)列表",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/egg_server": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [],
        "summary": "服务端类型列表",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/egg_type": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [],
        "summary": "蛋(游戏类型)类型列表",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/mcsm/pal/config": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "pal配置",
        "tags": [
          "rgs"
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "pal配置",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/mcsm/pal/init": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "pal配置",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/mcsm/pal/lang": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "pal配置中文",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/mcsm/pal/rcon": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "关闭pal",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/mcsm/pal/restart": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "关闭pal",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/mcsm/pal/stop": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "关闭pal",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/mcsm/panel_user/": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "翼龙面板用户列表",
        "tags": [
          "rgs"
        ]
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rgs.UpdateMcsmUserService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "编辑面板用户",
        "tags": [
          "rgs"
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rgs.CreateMcsmUserService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "创建面板用户",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/mcsm/panel_user/{name}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "删除面板用户",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/mcsm/sftp_init": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "初始化/刷新sftp功能",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/mcsm/start/": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "开服",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/mcsm/status": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "实例信息和状态",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/os-templates": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [],
        "summary": "系统列表",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/plans": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [],
        "summary": "获取套餐列表",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/price": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [],
        "summary": "获取游戏云价格",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/ptero/panel_user/": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "翼龙面板用户列表",
        "tags": [
          "rgs"
        ]
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rgs.UpdatePteroUserService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "编辑面板用户",
        "tags": [
          "rgs"
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rgs.CreatePteroUserService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "创建翼龙面板用户",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/ptero/panel_user/{name}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "删除面板用户",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/switch-user": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "RGS切换面板用户",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/usage": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "获取使用情况列表",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "获取RGS详情",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/backup/": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rgs.CreateBackupService"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "RGS创建备份",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/backup/setting": {
      "patch": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rgs.SetBackupService"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "RGS设置备份选项",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/backup/{bid}/": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "bid",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "RGS删除备份",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/backup/{bid}/cancel": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rgs.CancelBackupService"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "bid",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "RGS取消备份",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/backup/{bid}/restore": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rgs.RestoreBackupService"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "bid",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "RGS还原备份",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/bridge_setintip": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "桥接模式下设置内网",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/changeos": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rgs.ChangeOSService"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "RGS重装系统",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/cpu-charge": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rgs.ChargePointService"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "cpu充电",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/cpu-limit-mode": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rgs.ChangeCpuLimitModeService"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "游戏云限制模式(是否用余额结算)切换",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/daily-mode": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rgs.ChangeDailyModeService"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "游戏云日付模式开关",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/eip": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "创建并绑定弹性IP到RGS",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/eip/change": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "id",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "创建参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rgs.ChangeEIPService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "更换IP",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/eip/description": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "id",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "创建参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rgs.DescribeEIPService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "设置IP描述",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/eip/discard": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "id",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "创建参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rgs.AttachEIPService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "放弃IP",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/fai-send": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "id",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "发布快速app安装任务",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/firewall/mode": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "云服务器实例id",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "规则参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/product.FirewallSetModeService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "创建/设置防火墙规则",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/firewall/rule": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "云服务器实例id",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "query",
            "name": "options",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "获取防火墙规则列表",
        "tags": [
          "rgs"
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "云服务器实例id",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "规则参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/product.SetFirewallService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "创建/设置防火墙规则",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/firewall/rule/{ruleId}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "云服务器实例id",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "防火墙规则ID",
            "in": "path",
            "name": "ruleId",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "删除防火墙规则",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/firewall/rule/{ruleId}/pos": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "云服务器实例id",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "防火墙规则ID",
            "in": "path",
            "name": "ruleId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "规则参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/product.FirewallMoveRulePosService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "移动防火墙规则优先级",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/firewall/sync_time": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "云服务器实例id",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "query",
            "name": "options",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "获取防火墙同步开始时间",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/free": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "释放游戏云",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/k8s-panel/database": {
      "patch": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rgs.SetK8SPanelDatabaseService"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "K8S面板修改数据库设置",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/k8s-panel/set-start-command": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "游戏云设置启动命令（仅支持雨云面板）",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/k8s-panel/sftp": {
      "patch": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rgs.SetK8SPanelSFTPService"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "K8S面板修改SFTP设置",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/monitor": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "end_date",
            "required": true,
            "type": "integer"
          },
          {
            "in": "query",
            "name": "start_date",
            "required": true,
            "type": "integer"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "获取监控数据",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/nat": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "nat_id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "删除NAT端口映射",
        "tags": [
          "rgs"
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rgs.AddNatPortForwardService"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "添加NAT端口映射",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/reboot": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "游戏云重启操作",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/renew/": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rgs.RenewService"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "续费",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/renew/option": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rgs.SetAutoRenewService"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "自动续费选项",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/reset-password": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "游戏云重置密码操作",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/scale": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rgs.ScaleService"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "升级",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/start": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "游戏云开机操作",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/stop": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "游戏云关机操作",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/tag": {
      "patch": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/product.SetTagService"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "设置游戏云标签",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/to-bridge": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "转成桥接",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/usage": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "id",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "获取使用情况",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/vnc": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "enum": [
              "novnc",
              "xtermjs"
            ],
            "in": "query",
            "name": "console_type",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "连接VNC",
        "tags": [
          "rgs"
        ]
      }
    },
    "/product/rgs/{id}/vnet": {
      "patch": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "子网改名",
        "tags": [
          "rgs"
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "创建虚拟机内网子网",
        "tags": [
          "rgs"
        ]
      }
    }
  },
  "definitions": {
    "product.AppVar": {
      "properties": {
        "app_id": {
          "type": "integer"
        },
        "retry": {
          "description": "重发之前的任务,此项存在时,无需传入参数",
          "type": "boolean"
        },
        "vars": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "required": [
        "app_id",
        "vars"
      ],
      "type": "object"
    },
    "product.FirewallMoveRulePosService": {
      "properties": {
        "newPos": {
          "type": "integer"
        }
      },
      "type": "object"
    },
    "product.FirewallSetModeService": {
      "properties": {
        "mode": {
          "description": "black/white 默认黑名单模式",
          "type": "string"
        }
      },
      "type": "object"
    },
    "product.SetFirewallService": {
      "properties": {
        "action": {
          "description": "动作，accept/drop，接受或者丢弃",
          "enum": [
            "ACCEPT",
            "DROP"
          ],
          "type": "string"
        },
        "description": {
          "description": "备注",
          "maxLength": 20,
          "type": "string"
        },
        "dest_port": {
          "description": "代表本机的目的端口，可以用-来链接，空白代表所有端口",
          "type": "string"
        },
        "id": {
          "type": "integer"
        },
        "is_enable": {
          "description": "是否启用该规则",
          "type": "boolean"
        },
        "protocol": {
          "description": "协议，udp/tcp/icmp，空白代表所有",
          "enum": [
            "udp",
            "tcp",
            "icmp"
          ],
          "type": "string"
        },
        "source_address": {
          "description": "代表来源的地址，可以用-链接范围，或者用逗号来分割多个地址，可以使用网络，CIDR格式，空则代表所有地址",
          "type": "string"
        },
        "source_port": {
          "description": "一般不填(防反射)",
          "type": "string"
        }
      },
      "required": [
        "action"
      ],
      "type": "object"
    },
    "product.SetTagService": {
      "properties": {
        "tag_name": {
          "maxLength": 32,
          "minLength": 2,
          "type": "string"
        }
      },
      "type": "object"
    },
    "productM.EConfig": {
      "properties": {
        "allocation": {
          "type": "integer"
        },
        "backup": {
          "type": "integer"
        },
        "base_disk": {
          "type": "integer"
        },
        "cpu": {
          "type": "integer"
        },
        "data_disk": {
          "type": "integer"
        },
        "database": {
          "type": "integer"
        },
        "memory": {
          "type": "integer"
        },
        "net_in": {
          "type": "integer"
        },
        "net_out": {
          "type": "integer"
        }
      },
      "required": [
        "base_disk",
        "cpu",
        "memory",
        "net_out"
      ],
      "type": "object"
    },
    "rgs.AddNatPortForwardService": {
      "properties": {
        "k8s_panel_is_query_port": {
          "type": "boolean"
        },
        "port_in": {
          "maximum": 65535,
          "minimum": 1,
          "type": "integer"
        },
        "port_out": {
          "maximum": 60000,
          "minimum": 10000,
          "type": "integer"
        },
        "port_type": {
          "enum": [
            "tcp",
            "udp",
            "tcp_udp"
          ],
          "type": "string"
        },
        "tag": {
          "type": "string"
        }
      },
      "required": [
        "port_in",
        "port_out",
        "port_type"
      ],
      "type": "object"
    },
    "rgs.AttachEIPService": {
      "properties": {
        "with_flags": {
          "description": "IP特征(可选)",
          "type": "string"
        },
        "with_ip_num": {
          "description": "数量",
          "minimum": 1,
          "type": "integer"
        },
        "with_ip_type": {
          "description": "IPv4/IPv6",
          "type": "string"
        }
      },
      "required": [
        "with_ip_num"
      ],
      "type": "object"
    },
    "rgs.CancelBackupService": {
      "type": "object"
    },
    "rgs.ChangeCpuLimitModeService": {
      "properties": {
        "mode": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "rgs.ChangeDailyModeService": {
      "properties": {
        "mode": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "rgs.ChangeEIPService": {
      "properties": {
        "disable_old_ip_reason": {
          "type": "string"
        },
        "ip": {
          "type": "string"
        },
        "to_ip": {
          "type": "string"
        }
      },
      "required": [
        "ip"
      ],
      "type": "object"
    },
    "rgs.ChangeOSService": {
      "properties": {
        "app_vars": {
          "description": "当空数组时,进行单次任务下发",
          "items": {
            "$ref": "#/definitions/product.AppVar"
          },
          "type": "array"
        },
        "clear_data": {
          "description": "清空数据盘D",
          "type": "boolean"
        },
        "os_id": {
          "type": "integer"
        }
      },
      "required": [
        "os_id"
      ],
      "type": "object"
    },
    "rgs.ChargePointService": {
      "properties": {
        "mode": {
          "enum": [
            "money",
            "point"
          ],
          "type": "string"
        },
        "money": {
          "description": "消耗用户余额",
          "maximum": 300,
          "minimum": 1,
          "type": "integer"
        },
        "points": {
          "description": "消耗用户积分",
          "minimum": 400,
          "type": "integer"
        }
      },
      "type": "object"
    },
    "rgs.CreateBackupService": {
      "properties": {
        "label": {
          "maxLength": 32,
          "minLength": 2,
          "type": "string"
        }
      },
      "required": [
        "label"
      ],
      "type": "object"
    },
    "rgs.CreateMcsmUserService": {
      "properties": {
        "name": {
          "maxLength": 12,
          "minLength": 3,
          "type": "string"
        },
        "password": {
          "maxLength": 16,
          "minLength": 6,
          "type": "string"
        }
      },
      "required": [
        "name",
        "password"
      ],
      "type": "object"
    },
    "rgs.CreatePteroUserService": {
      "properties": {
        "name": {
          "maxLength": 12,
          "minLength": 3,
          "type": "string"
        },
        "password": {
          "maxLength": 16,
          "minLength": 6,
          "type": "string"
        }
      },
      "required": [
        "name",
        "password"
      ],
      "type": "object"
    },
    "rgs.CreateService": {
      "properties": {
        "app_vars": {
          "description": "当空数组时,进行单次任务下发",
          "items": {
            "$ref": "#/definitions/product.AppVar"
          },
          "type": "array"
        },
        "config": {
          "$ref": "#/definitions/productM.EConfig"
        },
        "cpu_limit_mode": {
          "type": "boolean"
        },
        "duration": {
          "enum": [
            1,
            3,
            6,
            12,
            -1
          ],
          "type": "integer"
        },
        "egg_type_id": {
          "description": "游戏类型",
          "type": "integer"
        },
        "key_pair_ids": {
          "description": "创建时绑定的 Key Pair ID 列表",
          "items": {
            "type": "integer"
          },
          "type": "array"
        },
        "node_uuid": {
          "description": "指定节点(管理员可用)",
          "type": "string"
        },
        "online_mode": {
          "type": "boolean"
        },
        "os_id": {
          "type": "integer"
        },
        "panel_user": {
          "description": "游戏云面板用户",
          "type": "string"
        },
        "pay_mode": {
          "enum": [
            "day",
            "month"
          ],
          "type": "string"
        },
        "plan_id": {
          "type": "integer"
        },
        "subtype": {
          "enum": [
            "kvm",
            "ptero",
            "mcsm",
            "k8s_panel"
          ],
          "type": "string"
        },
        "try": {
          "type": "boolean"
        },
        "with_coupon_id": {
          "type": "integer"
        },
        "with_eip_flags": {
          "description": "是否开启高防，us_ddosip -> 美国高防，nb_ddosip -> 宁波高防",
          "type": "string"
        },
        "with_eip_num": {
          "type": "integer"
        },
        "with_eip_type": {
          "description": "IPv4(默认)/IPv6",
          "type": "string"
        },
        "zone": {
          "description": "内网可用区",
          "type": "string"
        }
      },
      "required": [
        "config",
        "duration",
        "pay_mode",
        "subtype"
      ],
      "type": "object"
    },
    "rgs.DescribeEIPService": {
      "properties": {
        "description": {
          "maxLength": 100,
          "type": "string"
        },
        "ip": {
          "type": "string"
        }
      },
      "required": [
        "ip"
      ],
      "type": "object"
    },
    "rgs.ListRGSService": {
      "properties": {
        "options": {
          "type": "string"
        }
      },
      "required": [
        "options"
      ],
      "type": "object"
    },
    "rgs.RenewService": {
      "properties": {
        "duration": {
          "enum": [
            1,
            3,
            6,
            12
          ],
          "type": "integer"
        },
        "with_coupon_id": {
          "description": "DestPlan      uint              `json:\"dest_plan\"`   //为空时代表不变(如果存在续费队列,参数无效)\nDestConfig    *productM.EConfig `json:\"dest_config\"` //为空时代表不变",
          "type": "integer"
        }
      },
      "required": [
        "duration"
      ],
      "type": "object"
    },
    "rgs.RestoreBackupService": {
      "type": "object"
    },
    "rgs.ScaleService": {
      "properties": {
        "dest_config": {
          "$ref": "#/definitions/productM.EConfig"
        },
        "dest_plan": {
          "description": "为0时代表不变",
          "type": "integer"
        },
        "with_coupon_id": {
          "type": "integer"
        }
      },
      "required": [
        "dest_config"
      ],
      "type": "object"
    },
    "rgs.SetAutoRenewService": {
      "properties": {
        "auto_renew_option": {
          "description": "0：关闭 / 1：开启",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "rgs.SetBackupService": {
      "properties": {
        "auto_backup_hour": {
          "maximum": 23,
          "minimum": -1,
          "type": "integer"
        },
        "auto_backup_minute": {
          "maximum": 59,
          "minimum": -1,
          "type": "integer"
        },
        "keep_last": {
          "enum": [
            0,
            1,
            3,
            7,
            15,
            31
          ],
          "type": "integer"
        }
      },
      "type": "object"
    },
    "rgs.SetK8SPanelDatabaseService": {
      "properties": {
        "is_enabled": {
          "description": "是否开启数据库功能",
          "type": "boolean"
        },
        "version": {
          "description": "要启用的数据库版本",
          "type": "string"
        }
      },
      "type": "object"
    },
    "rgs.SetK8SPanelSFTPService": {
      "properties": {
        "password": {
          "maxLength": 16,
          "type": "string"
        },
        "username": {
          "maxLength": 16,
          "type": "string"
        }
      },
      "type": "object"
    },
    "rgs.UpdateMcsmUserService": {
      "properties": {
        "name": {
          "type": "string"
        },
        "password": {
          "maxLength": 16,
          "minLength": 6,
          "type": "string"
        }
      },
      "required": [
        "name",
        "password"
      ],
      "type": "object"
    },
    "rgs.UpdatePteroUserService": {
      "properties": {
        "name": {
          "type": "string"
        },
        "password": {
          "maxLength": 16,
          "minLength": 6,
          "type": "string"
        }
      },
      "required": [
        "name",
        "password"
      ],
      "type": "object"
    },
    "rgs_mp.CreateService": {
      "properties": {
        "dst_info": {
          "allOf": [
            {
              "$ref": "#/definitions/rgs_mp.DstInfo"
            }
          ],
          "description": "Try          bool   `json:\"try\"`"
        },
        "duration": {
          "enum": [
            1,
            3,
            6,
            12
          ],
          "type": "integer"
        },
        "egg_type_id": {
          "type": "integer"
        },
        "plan_id": {
          "type": "integer"
        },
        "with_coupon_id": {
          "type": "integer"
        }
      },
      "required": [
        "duration",
        "egg_type_id"
      ],
      "type": "object"
    },
    "rgs_mp.DstInfo": {
      "properties": {
        "cluster_name": {
          "maxLength": 12,
          "type": "string"
        },
        "cluster_pass": {
          "maxLength": 16,
          "type": "string"
        },
        "token": {
          "type": "string"
        }
      },
      "required": [
        "cluster_name"
      ],
      "type": "object"
    },
    "rgs_mp.ListRgsMpService": {
      "properties": {
        "options": {
          "type": "string"
        }
      },
      "required": [
        "options"
      ],
      "type": "object"
    },
    "rgs_mp.RenewService": {
      "properties": {
        "duration": {
          "enum": [
            1,
            3,
            6,
            12
          ],
          "type": "integer"
        },
        "with_coupon_id": {
          "type": "integer"
        }
      },
      "required": [
        "duration"
      ],
      "type": "object"
    }
  }
}