{
  "host": "api.v2.rainyun.com",
  "info": {
    "contact": {},
    "description": "实现通过api管理云产品,对接代理等功能.",
    "title": "雨云API文档",
    "version": "2.4"
  },
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "ApiKey": {
      "description": "雨云 API 密钥：登录后于「用户中心 → API密钥」创建，请求时携带 X-Api-Key 请求头即可替代登录态访问接口。",
      "in": "header",
      "name": "X-Api-Key",
      "type": "apiKey"
    }
  },
  "swagger": "2.0",
  "tags": [
    {
      "name": "ros"
    }
  ],
  "paths": {
    "/product/ros/bucket": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ros.ListROSBucketService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "获取存储桶列表",
        "tags": [
          "ros"
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ros.CreateBucketService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/rosM.ROSBucket"
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "创建对象存储桶",
        "tags": [
          "ros"
        ]
      }
    },
    "/product/ros/bucket/{id}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "存储桶ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "删除对象存储桶",
        "tags": [
          "ros"
        ]
      },
      "get": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "存储桶ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/rosM.ROSBucket"
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "获取对象存储桶详情",
        "tags": [
          "ros"
        ]
      }
    },
    "/product/ros/bucket/{id}/lifecycle": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "schema": {
              "properties": {
                "code": {
                  "description": "业务状态码",
                  "example": 200,
                  "type": "integer"
                },
                "data": {
                  "description": "返回数据"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "请求错误",
            "schema": {
              "properties": {
                "code": {
                  "description": "错误码",
                  "type": "integer"
                },
                "message": {
                  "description": "错误描述",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "查询生命周期规则列表",
        "tags": [
          "ros"
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ros.CreateBucketLifecycleService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "schema": {
              "properties": {
                "code": {
                  "description": "业务状态码",
                  "example": 200,
                  "type": "integer"
                },
                "data": {
                  "description": "返回数据"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "请求错误",
            "schema": {
              "properties": {
                "code": {
                  "description": "错误码",
                  "type": "integer"
                },
                "message": {
                  "description": "错误描述",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "创建生命周期规则",
        "tags": [
          "ros"
        ]
      }
    },
    "/product/ros/bucket/{id}/lifecycle/{rule_id}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "path",
            "name": "rule_id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "schema": {
              "properties": {
                "code": {
                  "description": "业务状态码",
                  "example": 200,
                  "type": "integer"
                },
                "data": {
                  "description": "返回数据"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "请求错误",
            "schema": {
              "properties": {
                "code": {
                  "description": "错误码",
                  "type": "integer"
                },
                "message": {
                  "description": "错误描述",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "删除生命周期规则",
        "tags": [
          "ros"
        ]
      }
    },
    "/product/ros/bucket/{id}/monitor": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "实例ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "实例监控",
        "tags": [
          "ros"
        ]
      }
    },
    "/product/ros/bucket/{id}/offline-download": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "schema": {
              "properties": {
                "code": {
                  "description": "业务状态码",
                  "example": 200,
                  "type": "integer"
                },
                "data": {
                  "description": "返回数据"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "请求错误",
            "schema": {
              "properties": {
                "code": {
                  "description": "错误码",
                  "type": "integer"
                },
                "message": {
                  "description": "错误描述",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "列出离线下载任务",
        "tags": [
          "ros"
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ros.CreateOfflineDownloadService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "schema": {
              "properties": {
                "code": {
                  "description": "业务状态码",
                  "example": 200,
                  "type": "integer"
                },
                "data": {
                  "description": "返回数据"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "请求错误",
            "schema": {
              "properties": {
                "code": {
                  "description": "错误码",
                  "type": "integer"
                },
                "message": {
                  "description": "错误描述",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "创建离线下载任务",
        "tags": [
          "ros"
        ]
      }
    },
    "/product/ros/bucket/{id}/offline-download/{task_id}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "path",
            "name": "task_id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "schema": {
              "properties": {
                "code": {
                  "description": "业务状态码",
                  "example": 200,
                  "type": "integer"
                },
                "data": {
                  "description": "返回数据"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "请求错误",
            "schema": {
              "properties": {
                "code": {
                  "description": "错误码",
                  "type": "integer"
                },
                "message": {
                  "description": "错误描述",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "取消离线下载任务",
        "tags": [
          "ros"
        ]
      },
      "get": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "path",
            "name": "task_id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "schema": {
              "properties": {
                "code": {
                  "description": "业务状态码",
                  "example": 200,
                  "type": "integer"
                },
                "data": {
                  "description": "返回数据"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "请求错误",
            "schema": {
              "properties": {
                "code": {
                  "description": "错误码",
                  "type": "integer"
                },
                "message": {
                  "description": "错误描述",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "查询离线下载任务详情",
        "tags": [
          "ros"
        ]
      }
    },
    "/product/ros/bucket/{id}/proxy": {
      "patch": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ros.ChangeSettingService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "schema": {
              "properties": {
                "code": {
                  "description": "业务状态码",
                  "example": 200,
                  "type": "integer"
                },
                "data": {
                  "description": "返回数据"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "请求错误",
            "schema": {
              "properties": {
                "code": {
                  "description": "错误码",
                  "type": "integer"
                },
                "message": {
                  "description": "错误描述",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "修改存储桶Proxy设置",
        "tags": [
          "ros"
        ]
      }
    },
    "/product/ros/bucket/{id}/regenerate-keys": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "存储桶ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "对象存储桶重新生成密钥",
        "tags": [
          "ros"
        ]
      }
    },
    "/product/ros/bucket/{id}/request-log": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "存储桶ID",
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "query",
            "name": "options",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "schema": {
              "properties": {
                "code": {
                  "description": "业务状态码",
                  "example": 200,
                  "type": "integer"
                },
                "data": {
                  "description": "返回数据"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "请求错误",
            "schema": {
              "properties": {
                "code": {
                  "description": "错误码",
                  "type": "integer"
                },
                "message": {
                  "description": "错误描述",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "获取请求日志生成任务列表",
        "tags": [
          "ros"
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "存储桶ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ros.GenerateBucketRequestLogService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "生成请求日志",
        "tags": [
          "ros"
        ]
      }
    },
    "/product/ros/bucket/{id}/request-log/{task_id}/link": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "任务ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "path",
            "name": "task_id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "获取请求日志下载链接",
        "tags": [
          "ros"
        ]
      }
    },
    "/product/ros/bucket/{id}/request-log/{task_id}/retrigger": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "任务ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "path",
            "name": "task_id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "重新触发请求日志生成任务",
        "tags": [
          "ros"
        ]
      }
    },
    "/product/ros/bucket/{id}/statistics": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "存储桶ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "query",
            "name": "bucketId",
            "type": "integer"
          },
          {
            "description": "指定统计某一天的数据，指定该参数后，Duration 参数无效",
            "in": "query",
            "name": "date",
            "type": "string"
          },
          {
            "description": "使用过去多少小时的数据来统计",
            "enum": [
              1,
              3,
              6,
              12,
              24,
              72,
              168
            ],
            "in": "query",
            "name": "duration",
            "required": true,
            "type": "integer"
          },
          {
            "description": "限制返回多少个数据",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "limit",
            "required": true,
            "type": "integer"
          },
          {
            "description": "数据类别",
            "enum": [
              "file",
              "file_bytes",
              "client_ip",
              "referrer",
              "user_agent"
            ],
            "in": "query",
            "name": "type",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "获取存储桶热点数据",
        "tags": [
          "ros"
        ]
      }
    },
    "/product/ros/bucket/{id}/sync": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "schema": {
              "properties": {
                "code": {
                  "description": "业务状态码",
                  "example": 200,
                  "type": "integer"
                },
                "data": {
                  "description": "返回数据"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "请求错误",
            "schema": {
              "properties": {
                "code": {
                  "description": "错误码",
                  "type": "integer"
                },
                "message": {
                  "description": "错误描述",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "取消主动同步",
        "tags": [
          "ros"
        ]
      },
      "get": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "schema": {
              "properties": {
                "code": {
                  "description": "业务状态码",
                  "example": 200,
                  "type": "integer"
                },
                "data": {
                  "description": "返回数据"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "请求错误",
            "schema": {
              "properties": {
                "code": {
                  "description": "错误码",
                  "type": "integer"
                },
                "message": {
                  "description": "错误描述",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "查询主动同步状态",
        "tags": [
          "ros"
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ros.CreateBucketSyncService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "schema": {
              "properties": {
                "code": {
                  "description": "业务状态码",
                  "example": 200,
                  "type": "integer"
                },
                "data": {
                  "description": "返回数据"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "请求错误",
            "schema": {
              "properties": {
                "code": {
                  "description": "错误码",
                  "type": "integer"
                },
                "message": {
                  "description": "错误描述",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "创建或重新运行主动同步",
        "tags": [
          "ros"
        ]
      }
    },
    "/product/ros/bucket/{id}/toggle-public-access": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "存储桶ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "开关对象存储桶匿名访问",
        "tags": [
          "ros"
        ]
      }
    },
    "/product/ros/discount-percent": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [],
        "summary": "获取对象存储实例折扣比率",
        "tags": [
          "ros"
        ]
      }
    },
    "/product/ros/instance": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ros.ListROSInstanceService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "获取对象存储实例列表",
        "tags": [
          "ros"
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ros.CreateInstanceService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/rosM.ROSInstance"
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "创建对象存储实例",
        "tags": [
          "ros"
        ]
      }
    },
    "/product/ros/instance/{id}": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "实例ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/rosM.ROSInstance"
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "获取对象存储实例详情",
        "tags": [
          "ros"
        ]
      }
    },
    "/product/ros/instance/{id}/regenerate-keys": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "实例ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "对象存储实例重新生成密钥",
        "tags": [
          "ros"
        ]
      }
    },
    "/product/ros/instance/{id}/renew": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "实例ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "ROS实例续费",
        "tags": [
          "ros"
        ]
      }
    },
    "/product/ros/instance/{id}/renew/option": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "实例ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "自动续费选项",
        "tags": [
          "ros"
        ]
      }
    },
    "/product/ros/instance/{id}/scale": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "实例ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ros.ScaleService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "ROS实例缩放",
        "tags": [
          "ros"
        ]
      }
    },
    "/product/ros/instance/{id}/tag": {
      "patch": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/product.SetTagService"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "设置对象存储实例标签",
        "tags": [
          "ros"
        ]
      }
    },
    "/product/ros/instance/{id}/toggle-extra-accounting": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "实例ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "开关对象存储实例的弹性计费选项",
        "tags": [
          "ros"
        ]
      }
    },
    "/product/ros/instance/{id}/toggle-public-access": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "实例ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "开关对象存储实例的匿名访问",
        "tags": [
          "ros"
        ]
      }
    },
    "/product/ros/plans": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [],
        "summary": "获取对象存储套餐列表",
        "tags": [
          "ros"
        ]
      }
    },
    "/product/ros/price": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [],
        "summary": "获取云服务器折扣比率",
        "tags": [
          "ros"
        ]
      }
    }
  },
  "definitions": {
    "product.SetTagService": {
      "properties": {
        "tag_name": {
          "maxLength": 32,
          "minLength": 2,
          "type": "string"
        }
      },
      "type": "object"
    },
    "productM.Node": {
      "properties": {
        "AuthKey": {
          "type": "string"
        },
        "Config": {
          "description": "节点对外显示配置(在admin状态下和config一致)",
          "type": "string"
        },
        "Stock": {
          "description": "库存资源状态",
          "items": {
            "type": "integer"
          },
          "type": "array"
        },
        "certifyRequired": {
          "description": "是否需要实名认证",
          "type": "boolean"
        },
        "chineseName": {
          "type": "string"
        },
        "gitRepositoryName": {
          "description": "API的Git仓库名",
          "type": "string"
        },
        "ipZone": {
          "description": "IP划分域",
          "type": "string"
        },
        "isDisableBackup": {
          "description": "是否禁止backup功能",
          "type": "boolean"
        },
        "isHidden": {
          "description": "是否隐藏",
          "type": "boolean"
        },
        "machine": {
          "description": "机型",
          "type": "string"
        },
        "nodeName": {
          "description": "节点名:已弃用",
          "type": "string"
        },
        "physicalNode": {
          "description": "物理node，作为标识",
          "type": "string"
        },
        "product": {
          "description": "属于的产品类型",
          "type": "string"
        },
        "region": {
          "description": "物理区域",
          "type": "string"
        },
        "showMonitorData": {
          "type": "string"
        },
        "statusData": {
          "description": "节点对外显示Status(数据同Status,管理员用)",
          "type": "string"
        },
        "subtype": {
          "description": "产品节点子类型",
          "type": "string"
        },
        "updateTime": {
          "description": "最后node程序汇报的心跳时间",
          "type": "string"
        },
        "uuid": {
          "description": "表字段",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ros.ChangeSettingService": {
      "properties": {
        "domain_list": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "gzip_settings": {
          "$ref": "#/definitions/apisix.GZIPOptions"
        },
        "ip_restrict_settings": {
          "$ref": "#/definitions/apisix.IPRestrictOptions"
        },
        "mirror_settings": {
          "$ref": "#/definitions/ros.MirrorSettings"
        },
        "referer_restrict_settings": {
          "$ref": "#/definitions/apisix.RefererRestrictOptions"
        },
        "setting": {
          "enum": [
            "domain",
            "ssl",
            "waf",
            "gzip",
            "ip_restrict",
            "referer_restrict",
            "ua_restrict",
            "mirror"
          ],
          "type": "string"
        },
        "ssl_settings": {
          "$ref": "#/definitions/apisix.SSLOptions"
        },
        "ua_restrict_settings": {
          "$ref": "#/definitions/apisix.UARestrictOptions"
        },
        "waf_settings": {
          "$ref": "#/definitions/apisix.WAFOptions"
        }
      },
      "required": [
        "setting"
      ],
      "type": "object"
    },
    "ros.CreateBucketLifecycleService": {
      "properties": {
        "days": {
          "description": "1–1800",
          "format": "int32",
          "type": "integer"
        },
        "prefix": {
          "description": "空=整桶；非空为目录/前缀，不允许通配符",
          "type": "string"
        }
      },
      "required": [
        "prefix",
        "days"
      ],
      "type": "object"
    },
    "ros.CreateBucketService": {
      "properties": {
        "bucket_name": {
          "description": "存储桶名称",
          "maxLength": 63,
          "minLength": 3,
          "type": "string"
        },
        "instance_id": {
          "description": "所属实例ID",
          "type": "integer"
        }
      },
      "required": [
        "bucket_name"
      ],
      "type": "object"
    },
    "ros.CreateBucketSyncService": {
      "properties": {
        "force": {
          "description": "true 时即使 Size+ETag 匹配也覆盖",
          "type": "boolean"
        },
        "remove_orphans": {
          "description": "true 时删除目标侧源前缀下源端已不存在的对象（mc mirror --remove）",
          "type": "boolean"
        },
        "source_access_key": {
          "description": "源端 AccessKey（不落库）",
          "type": "string"
        },
        "source_bucket": {
          "description": "远端源桶名",
          "type": "string"
        },
        "source_endpoint": {
          "description": "远端 S3 兼容 Endpoint URL",
          "type": "string"
        },
        "source_prefix": {
          "description": "可选 object key 前缀（无尾斜杠、无通配符）",
          "type": "string"
        },
        "source_region": {
          "description": "远端签名区域，默认 us-east-1",
          "type": "string"
        },
        "source_secret_key": {
          "description": "源端 SecretKey（不落库）",
          "type": "string"
        }
      },
      "required": [
        "source_endpoint",
        "source_bucket",
        "source_prefix",
        "source_region",
        "source_access_key",
        "source_secret_key",
        "force",
        "remove_orphans"
      ],
      "type": "object"
    },
    "ros.CreateInstanceService": {
      "properties": {
        "duration": {
          "enum": [
            1,
            3,
            6,
            12
          ],
          "type": "integer"
        },
        "plan_id": {
          "description": "套餐ID",
          "type": "integer"
        },
        "with_coupon_id": {
          "type": "integer"
        }
      },
      "required": [
        "duration"
      ],
      "type": "object"
    },
    "ros.CreateOfflineDownloadService": {
      "properties": {
        "dest_prefix": {
          "description": "目标 object key 前缀（无首尾斜杠、无通配符）",
          "type": "string"
        },
        "force": {
          "description": "true 时即使目标对象大小已匹配 Content-Length 也覆盖",
          "type": "boolean"
        },
        "urls": {
          "description": "http(s) 文件 URL，最多 20 个",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "required": [
        "urls",
        "dest_prefix",
        "force"
      ],
      "type": "object"
    },
    "ros.GenerateBucketRequestLogService": {
      "properties": {
        "from": {
          "description": "开始时间,秒级时间戳",
          "format": "int64",
          "type": "integer"
        },
        "logFormat": {
          "description": "日志格式",
          "enum": [
            "logfmt",
            "json"
          ],
          "type": "string"
        },
        "to": {
          "description": "结束时间,秒级时间戳",
          "format": "int64",
          "type": "integer"
        }
      },
      "required": [
        "from",
        "to"
      ],
      "type": "object"
    },
    "ros.ListROSBucketService": {
      "properties": {
        "options": {
          "type": "string"
        }
      },
      "required": [
        "options"
      ],
      "type": "object"
    },
    "ros.ListROSInstanceService": {
      "properties": {
        "options": {
          "type": "string"
        }
      },
      "required": [
        "options"
      ],
      "type": "object"
    },
    "ros.MirrorSettings": {
      "properties": {
        "is_enable": {
          "type": "boolean"
        },
        "mirror_url": {
          "type": "string"
        },
        "prefix": {
          "type": "string"
        }
      },
      "required": [
        "is_enable",
        "prefix"
      ],
      "type": "object"
    },
    "ros.ScaleService": {
      "properties": {
        "dest_plan": {
          "type": "integer"
        },
        "with_coupon_id": {
          "type": "integer"
        }
      },
      "type": "object"
    },
    "rosM.ROSBucket": {
      "properties": {
        "UsageData": {},
        "access_key": {
          "type": "string"
        },
        "create_date": {
          "description": "创建日期",
          "type": "integer"
        },
        "domainList": {
          "description": "域名列表",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "gzip_compress_level": {
          "description": "GZIp压缩等级",
          "type": "integer"
        },
        "gzip_is_enable": {
          "description": "GZIP设置",
          "type": "boolean"
        },
        "id": {
          "description": "表字段",
          "type": "integer"
        },
        "instance": {
          "allOf": [
            {
              "$ref": "#/definitions/rosM.ROSInstance"
            }
          ],
          "description": "所属实例数据"
        },
        "instance_id": {
          "description": "存储桶ID",
          "type": "integer"
        },
        "ip_restrict_is_enable": {
          "description": "IP访问限制",
          "type": "boolean"
        },
        "iprestrictBlacklist": {
          "description": "IP黑名单地址或者CIDR范围，和白名单列表只能二选一不能共存",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "iprestrictWhitelist": {
          "description": "IP白名单地址或者CIDR范围，和黑名单列表只能二选一不能共存",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "is_public_access": {
          "description": "是否允许匿名访问",
          "type": "boolean"
        },
        "mirror_is_enable": {
          "description": "镜像回源（BucketMirror CRD，目前仅 Ceph）",
          "type": "boolean"
        },
        "mirror_prefix": {
          "description": "可选 object key 前缀（无尾斜杠、无通配符）",
          "type": "string"
        },
        "mirror_url": {
          "description": "公网 HTTP(S) 源站 URL 前缀",
          "type": "string"
        },
        "name": {
          "description": "存储桶名称，不可变更",
          "type": "string"
        },
        "ready_delete": {
          "description": "表示即将从数据库删除,会在下一次流量重置时直接删除,这个状态下无法进行任何管理喝列出,仅用于继续统计流量",
          "type": "boolean"
        },
        "refererRestrictBlacklist": {
          "description": "黑名单域名列表，和白名单列表只能二选一不能共存",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "refererRestrictWhitelist": {
          "description": "白名单域名列表，和黑名单列表只能二选一不能共存",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "referer_restrict_bypass_missing": {
          "description": "是否允许Referer请求头不存在或者格式有误",
          "type": "boolean"
        },
        "referer_restrict_is_enable": {
          "description": "Referer防盗链",
          "type": "boolean"
        },
        "secret_key": {
          "type": "string"
        },
        "ssl_auto_redirect": {
          "description": "是否启用SSL自动跳转",
          "type": "boolean"
        },
        "ssl_is_enable": {
          "description": "SSL设置",
          "type": "boolean"
        },
        "sslcertList": {
          "description": "所使用的SSL证书中心ID",
          "items": {
            "type": "integer"
          },
          "type": "array"
        },
        "stop_reason": {
          "description": "封禁原因",
          "type": "string"
        },
        "ua_restrict_bypass_missing": {
          "description": "是否允许缺少 User-Agent 请求头时放行",
          "type": "boolean"
        },
        "ua_restrict_is_enable": {
          "description": "UA 黑白名单（APISIX ua-restriction，目前仅 Ceph）",
          "type": "boolean"
        },
        "uarestrictBlacklist": {
          "description": "UA 黑名单（支持正则），和白名单只能二选一不能共存",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "uarestrictWhitelist": {
          "description": "UA 白名单（支持正则），和黑名单只能二选一不能共存",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "uid": {
          "description": "用户ID",
          "type": "integer"
        },
        "waf_block_time": {
          "description": "未通过JS验证时的封禁时间，秒数",
          "type": "integer"
        },
        "waf_global_js_check": {
          "description": "是否启用全局JS检查，只有超过阈值才会生效",
          "type": "boolean"
        },
        "waf_global_qps": {
          "description": "全局访问速率限制，超过会被拒绝",
          "type": "integer"
        },
        "waf_is_enable": {
          "description": "WAF设置",
          "type": "boolean"
        },
        "waf_per_ip_js_check": {
          "description": "是否启用单IP JS检查，只有超过阈值才会生效",
          "type": "boolean"
        },
        "waf_per_ip_qps": {
          "description": "单个IP访问速率限制，超过会被拒绝",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "rosM.ROSClusterType": {
      "enum": [
        "minio",
        "ceph"
      ],
      "type": "string",
      "x-enum-varnames": [
        "ROSClusterMinio",
        "ROSClusterCeph"
      ]
    },
    "rosM.ROSInstance": {
      "properties": {
        "UsageData": {},
        "access_key": {
          "description": "客户侧 IAM 密钥，可访问 Instance 下全部存储桶",
          "type": "string"
        },
        "autoRenew": {
          "type": "boolean"
        },
        "buckets": {
          "description": "下属的存储桶列表",
          "items": {
            "type": "integer"
          },
          "type": "array"
        },
        "createDate": {
          "format": "int64",
          "type": "integer"
        },
        "expDate": {
          "format": "int64",
          "type": "integer"
        },
        "expireNotice": {
          "type": "integer"
        },
        "extra_pay_time": {
          "description": "套餐外用量上次付费时间(仅限流量)",
          "type": "integer"
        },
        "id": {
          "type": "integer"
        },
        "is_enable_extra_accounting": {
          "description": "是否开启弹性计费机制",
          "type": "boolean"
        },
        "is_public_access": {
          "description": "是否开启公共访问",
          "type": "boolean"
        },
        "last_reset_date": {
          "description": "上次重置流量和请求次数的时间",
          "type": "integer"
        },
        "next_reset_date": {
          "description": "下次重置流量和请求次数的时间",
          "type": "integer"
        },
        "node": {
          "$ref": "#/definitions/productM.Node"
        },
        "nodeUUID": {
          "type": "string"
        },
        "plan": {
          "allOf": [
            {
              "$ref": "#/definitions/rosM.ROSPlan"
            }
          ],
          "description": "套餐数据"
        },
        "planID": {
          "type": "integer"
        },
        "public_access_restricted": {
          "description": "禁止公共访问标识，带有此标识的实例将被提示因为存放违规内容而无法开启公共下载",
          "type": "boolean"
        },
        "public_api_url": {
          "type": "string"
        },
        "restrictions": {
          "description": "限制状态，里面是用逗号分隔的S3的Policy的名称",
          "type": "string"
        },
        "rewardPointsToBeCollect": {
          "description": "产品当前可领取的积分",
          "type": "integer"
        },
        "secret_key": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "stopReason": {
          "type": "string"
        },
        "tag": {
          "type": "string"
        },
        "try": {
          "description": "试用产品",
          "type": "boolean"
        },
        "uid": {
          "type": "integer"
        },
        "unsubscribeAble": {
          "description": "是否可退订",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "rosM.ROSPlan": {
      "properties": {
        "bandwidth": {
          "description": "套餐流量，GiB",
          "type": "integer"
        },
        "charge_type": {
          "description": "计费模式",
          "type": "string"
        },
        "chinese": {
          "type": "string"
        },
        "cluster_type": {
          "allOf": [
            {
              "$ref": "#/definitions/rosM.ROSClusterType"
            }
          ],
          "description": "集群类型：minio / ceph"
        },
        "extra_storage_price": {
          "description": "超额存储单价",
          "type": "number"
        },
        "extra_transfer_price": {
          "description": "超额流量单价",
          "type": "number"
        },
        "id": {
          "type": "integer"
        },
        "is_free": {
          "description": "是否为免费套餐(如果是,不允许直接购买和价格续费)",
          "type": "boolean"
        },
        "is_selling": {
          "type": "boolean"
        },
        "line": {
          "description": "线路(可空)",
          "type": "string"
        },
        "machine": {
          "description": "机型",
          "type": "string"
        },
        "plan_name": {
          "description": "套餐型号标识",
          "type": "string"
        },
        "point_renew_price": {
          "description": "积分续费之价格(没有的时候默认以价格计算)(结构{续费天数:续费价格,...})",
          "items": {
            "type": "integer"
          },
          "type": "array"
        },
        "price": {
          "description": "默认价",
          "type": "number"
        },
        "region": {
          "description": "区域",
          "type": "string"
        },
        "storage_size": {
          "description": "存储容量大小，GiB",
          "type": "integer"
        },
        "subtype": {
          "description": "就是原来的Virt",
          "type": "string"
        }
      },
      "type": "object"
    }
  }
}