{
  "host": "api.v2.rainyun.com",
  "info": {
    "contact": {},
    "description": "实现通过api管理云产品,对接代理等功能.",
    "title": "雨云API文档",
    "version": "2.4"
  },
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "ApiKey": {
      "description": "雨云 API 密钥：登录后于「用户中心 → API密钥」创建，请求时携带 X-Api-Key 请求头即可替代登录态访问接口。",
      "in": "header",
      "name": "X-Api-Key",
      "type": "apiKey"
    }
  },
  "swagger": "2.0",
  "tags": [
    {
      "name": "ssl"
    }
  ],
  "paths": {
    "/product/sslcenter/": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "options",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "SSL证书获取列表",
        "tags": [
          "ssl"
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sslcenter.UploadSSLCertService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "SSL证书上传操作",
        "tags": [
          "ssl"
        ]
      }
    },
    "/product/sslcenter/cert/order": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sslcenter.ApplyFreeSSLCertService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "创建SSL证书申请",
        "tags": [
          "ssl"
        ]
      }
    },
    "/product/sslcenter/cert/order_verify": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sslcenter.VerifyFreeSSLCertService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "验证SSL证书申请",
        "tags": [
          "ssl"
        ]
      }
    },
    "/product/sslcenter/cert/orders": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "options",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "获取SSL证书申请列表",
        "tags": [
          "ssl"
        ]
      }
    },
    "/product/sslcenter/order": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sslcenter.ListOrdersService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "schema": {
              "properties": {
                "code": {
                  "description": "业务状态码",
                  "example": 200,
                  "type": "integer"
                },
                "data": {
                  "description": "返回数据"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "请求错误",
            "schema": {
              "properties": {
                "code": {
                  "description": "错误码",
                  "type": "integer"
                },
                "message": {
                  "description": "错误描述",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "获取SSL证书订单列表",
        "tags": [
          "ssl"
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sslcenter.CreateOrderService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "schema": {
              "properties": {
                "code": {
                  "description": "业务状态码",
                  "example": 200,
                  "type": "integer"
                },
                "data": {
                  "description": "返回数据"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "请求错误",
            "schema": {
              "properties": {
                "code": {
                  "description": "错误码",
                  "type": "integer"
                },
                "message": {
                  "description": "错误描述",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "创建SSL证书订单",
        "tags": [
          "ssl"
        ]
      }
    },
    "/product/sslcenter/order/{id}": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "schema": {
              "properties": {
                "code": {
                  "description": "业务状态码",
                  "example": 200,
                  "type": "integer"
                },
                "data": {
                  "description": "返回数据"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "请求错误",
            "schema": {
              "properties": {
                "code": {
                  "description": "错误码",
                  "type": "integer"
                },
                "message": {
                  "description": "错误描述",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "获取SSL证书订单信息",
        "tags": [
          "ssl"
        ]
      }
    },
    "/product/sslcenter/order/{id}/assign": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "schema": {
              "properties": {
                "code": {
                  "description": "业务状态码",
                  "example": 200,
                  "type": "integer"
                },
                "data": {
                  "description": "返回数据"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "请求错误",
            "schema": {
              "properties": {
                "code": {
                  "description": "错误码",
                  "type": "integer"
                },
                "message": {
                  "description": "错误描述",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "将SSL证书添加到证书列表",
        "tags": [
          "ssl"
        ]
      }
    },
    "/product/sslcenter/order/{id}/cert": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "schema": {
              "properties": {
                "code": {
                  "description": "业务状态码",
                  "example": 200,
                  "type": "integer"
                },
                "data": {
                  "description": "返回数据"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "请求错误",
            "schema": {
              "properties": {
                "code": {
                  "description": "错误码",
                  "type": "integer"
                },
                "message": {
                  "description": "错误描述",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "获取SSL证书",
        "tags": [
          "ssl"
        ]
      }
    },
    "/product/sslcenter/order/{id}/description": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sslcenter.UpdateOrderDescriptionService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "schema": {
              "properties": {
                "code": {
                  "description": "业务状态码",
                  "example": 200,
                  "type": "integer"
                },
                "data": {
                  "description": "返回数据"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "请求错误",
            "schema": {
              "properties": {
                "code": {
                  "description": "错误码",
                  "type": "integer"
                },
                "message": {
                  "description": "错误描述",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "更新SSL订单描述",
        "tags": [
          "ssl"
        ]
      }
    },
    "/product/sslcenter/order/{id}/revoke": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sslcenter.RevokeCertService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "schema": {
              "properties": {
                "code": {
                  "description": "业务状态码",
                  "example": 200,
                  "type": "integer"
                },
                "data": {
                  "description": "返回数据"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "请求错误",
            "schema": {
              "properties": {
                "code": {
                  "description": "错误码",
                  "type": "integer"
                },
                "message": {
                  "description": "错误描述",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "申请吊销SSL证书",
        "tags": [
          "ssl"
        ]
      }
    },
    "/product/sslcenter/order/{id}/verify": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "订单ID",
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sslcenter.CheckDomainValidationService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "schema": {
              "properties": {
                "code": {
                  "description": "业务状态码",
                  "example": 200,
                  "type": "integer"
                },
                "data": {
                  "description": "返回数据"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "请求错误",
            "schema": {
              "properties": {
                "code": {
                  "description": "错误码",
                  "type": "integer"
                },
                "message": {
                  "description": "错误描述",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "验证SSL证书订单",
        "tags": [
          "ssl"
        ]
      }
    },
    "/product/sslcenter/price": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "参数",
            "in": "body",
            "name": "param",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sslcenter.GetPriceService"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "schema": {
              "properties": {
                "code": {
                  "description": "业务状态码",
                  "example": 200,
                  "type": "integer"
                },
                "data": {
                  "description": "返回数据"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "请求错误",
            "schema": {
              "properties": {
                "code": {
                  "description": "错误码",
                  "type": "integer"
                },
                "message": {
                  "description": "错误描述",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "获取SSL证书订单价格",
        "tags": [
          "ssl"
        ]
      }
    },
    "/product/sslcenter/product": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "schema": {
              "properties": {
                "code": {
                  "description": "业务状态码",
                  "example": 200,
                  "type": "integer"
                },
                "data": {
                  "description": "返回数据"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "请求错误",
            "schema": {
              "properties": {
                "code": {
                  "description": "错误码",
                  "type": "integer"
                },
                "message": {
                  "description": "错误描述",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "获取SSL证书产品列表",
        "tags": [
          "ssl"
        ]
      }
    },
    "/product/sslcenter/{id}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "schema": {
              "properties": {
                "code": {
                  "description": "业务状态码",
                  "example": 200,
                  "type": "integer"
                },
                "data": {
                  "description": "返回数据"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "请求错误",
            "schema": {
              "properties": {
                "code": {
                  "description": "错误码",
                  "type": "integer"
                },
                "message": {
                  "description": "错误描述",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "SSL证书删除操作",
        "tags": [
          "ssl"
        ]
      },
      "get": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "schema": {
              "properties": {
                "code": {
                  "description": "业务状态码",
                  "example": 200,
                  "type": "integer"
                },
                "data": {
                  "description": "返回数据"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "请求错误",
            "schema": {
              "properties": {
                "code": {
                  "description": "错误码",
                  "type": "integer"
                },
                "message": {
                  "description": "错误描述",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "SSL证书查看操作",
        "tags": [
          "ssl"
        ]
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "cert",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "key",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {},
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "SSL证书替换操作",
        "tags": [
          "ssl"
        ]
      }
    }
  },
  "definitions": {
    "sslcenter.ApplyFreeSSLCertService": {
      "properties": {
        "domains": {
          "description": "域名列表",
          "type": "string"
        },
        "verify_method": {
          "description": "验证方式，auto代表从雨云注册的域名可以自动完成",
          "enum": [
            "dns",
            "http",
            "auto"
          ],
          "type": "string"
        }
      },
      "required": [
        "domains",
        "verify_method"
      ],
      "type": "object"
    },
    "sslcenter.CheckDomainValidationService": {
      "properties": {
        "forceRefresh": {
          "description": "强制刷新证书",
          "type": "boolean"
        }
      },
      "required": [
        "forceRefresh"
      ],
      "type": "object"
    },
    "sslcenter.CreateOrderService": {
      "properties": {
        "domains": {
          "description": "域名",
          "type": "string"
        },
        "duration": {
          "description": "购买时长(单位:月)",
          "format": "int32",
          "minimum": 1,
          "type": "integer"
        },
        "price": {
          "description": "价格，仅用于核验，与后端计算价格不一致时拒绝",
          "format": "double",
          "type": "number"
        },
        "productId": {
          "description": "欲购买产品ID",
          "format": "int32",
          "type": "integer"
        },
        "withCouponId": {
          "description": "优惠券ID",
          "format": "numeric",
          "type": "integer"
        }
      },
      "required": [
        "productId",
        "domains",
        "duration",
        "price"
      ],
      "type": "object"
    },
    "sslcenter.GetPriceService": {
      "properties": {
        "domains": {
          "type": "string"
        },
        "duration": {
          "format": "int32",
          "minimum": 1,
          "type": "integer"
        },
        "price": {
          "format": "double",
          "type": "number"
        },
        "productId": {
          "format": "int32",
          "type": "integer"
        },
        "withCouponId": {
          "format": "numeric",
          "type": "integer"
        }
      },
      "required": [
        "productId",
        "domains",
        "duration",
        "price"
      ],
      "type": "object"
    },
    "sslcenter.ListOrdersService": {
      "properties": {
        "options": {
          "description": "选项",
          "type": "string"
        }
      },
      "required": [
        "options"
      ],
      "type": "object"
    },
    "sslcenter.RevokeCertService": {
      "properties": {
        "letter": {
          "description": "吊销函内容(Base64编码，非DV必传）",
          "type": "string"
        },
        "reason": {
          "description": "申请吊销原因",
          "type": "string"
        }
      },
      "required": [
        "reason"
      ],
      "type": "object"
    },
    "sslcenter.UpdateOrderDescriptionService": {
      "properties": {
        "newDescription": {
          "maxLength": 100,
          "minLength": 0,
          "type": "string"
        }
      },
      "type": "object"
    },
    "sslcenter.UploadSSLCertService": {
      "properties": {
        "cert": {
          "type": "string"
        },
        "key": {
          "type": "string"
        }
      },
      "required": [
        "cert",
        "key"
      ],
      "type": "object"
    },
    "sslcenter.VerifyFreeSSLCertService": {
      "properties": {
        "order_id": {
          "type": "integer"
        }
      },
      "required": [
        "order_id"
      ],
      "type": "object"
    }
  }
}